# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

# space for default indentation
indent_style = space
indent_size = 2
tab_width = 2

# It is acceptable and often preferred to leave certain EditorConfig properties unspecified.
# the tab is still the character specifically designed for indentation except Python or something similar

# [lib/**.js]
# indent_style = space
# indent_size = 2

[*.{go,mod}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.rs]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[.gitconfig]
indent_style = tab

[*.{py,pyi,java,awk}]
indent_style = space
indent_size = 4
tab_width = 4

[*.astro]
indent_style = tab

[*.{py}]
max_line_length = 79
# insert_final_newline = true

[*.{txt,vim}]
max_line_length = 120
trim_trailing_whitespace = false